
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Control4 Project Tracker</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="d-flex flex-grow-1">
                <div class="navbar-header">
                    <a class="navbar-brand navLogo" asp-controller="Home" asp-action="Index"></a>
                </div>
                <div class="nav-item navLogoText">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">Project Tracker</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav nav">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="EndUser" asp-action="Entry">My Devices</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Location" asp-action="Manage">My Locations</a>
                            </li>
                            @if (/*User.IsInRole("Active") || */User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Betas" asp-action="MyBetas">My Betas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="BetaOpportunities" asp-action="Index">Beta Opportunities</a>
                                </li>

                            }
                        </ul>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="navbarMenu">Admin Tools<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <p class="dropdown-header">Admin</p>
                                    <a class="dropdown-item" asp-controller="Search" asp-action="Index">Search</a>
                                    <a class="dropdown-item" asp-controller="Betas" asp-action="Applicants">Beta Applicants</a>
                                    <a class="dropdown-item" asp-controller="ManageUser" asp-action="Index">Manage Users</a>
                                    <a class="dropdown-item" asp-controller="" asp-action="">More to come...</a>
                                </div>
                            </div>
                        }
                    }
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; <B>Control4 confidential system. Unauthorized use is strictly prohibited. Contact us for any issues. <A HREF=mailto:protrack@control4.com>protrack@control4.com</A></B> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
