@using Microsoft.AspNetCore.Identity
@model ProTrack.Data.Models.Location
@inject UserManager<ProTrack.Data.Models.ApplicationUser> UserManager

    @{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Create</h1>

    <h4>Device</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="LocationName" class="control-label">Location Name</label>
                    <input asp-for="LocationName" class="form-control" />
                    <span asp-validation-for="LocationName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MyDotEmail" class="control-label">MyDot Email</label>
                    <input asp-for="MyDotEmail" class="form-control" />
                    <span asp-validation-for="MyDotEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="C4AccountName" class="control-label">Control4 Account Name</label>
                    <input asp-for="C4AccountName" class="form-control" />
                    <span asp-validation-for="C4AccountName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="EndUser" asp-action="Entry">Back to List</a>
    </div>
    <div>
        <a asp-action="Manage">Manage Locations</a>
    </div>

