@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Control4 Project Tracker</h1>
    <P>This website was created to provide the Control4 Beta program with a list of devices to help target beta releases to the proper users.  For questions contact <A HREF=mailto:protrack@control4.com>protrack@control4.com</A>.</P>
</div>
